.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 120px 100px;
  max-width: 1440px;
}

.main-hello {
  font-weight: 300;
}

.main-tag {
  font-weight: 300;
  max-width: 800px;

  .name {
    font-weight: 700;
  }
}

.main-hello,
.main-tag {
  font-size: 2.5rem;
}

.main-contact {
  font-size: 1.25rem;
  font-weight: 400;
}
