// Colors
$night: #171c28;
$black: #36363c;
$dark-grey: #444452;
$grey: #777777;
$blue: #007bff;
$slate: #afafbf;
$off-white: #e7e7e7;
$white: #ffffff;
$green: #bae67e;
$purple: #7d0ce8;
$red: #ff0000;
$orange: #e8850c;
$yellow: #ffdc00;
$accent: #ffcc66;
// Fonts
$font-stack: 'Open Sans', system, system-ui, -apple-system, BlinkMacSystemFont,
  Roboto, Helvetica, Arial, sans-serif;
// Media queries
$fourteen-fourty: 1440px;
$twelve-eighty: 1280px;
$standard-width: 1024px;
$small-desktop: 850px;
$tablet: 768px;
$smaller-tablet-width: 630px;
$big-mobile-width: 550px;
$mobile-width: 480px;
$small-mobile-width: 360px;
$smallest-mobile-width: 330px;

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin twelve-eighty {
  @media screen and (max-width: #{$twelve-eighty}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin small-desktop {
  @media screen and (max-width: #{$small-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smaller-tablet {
  @media screen and (max-width: #{$smaller-tablet-width}) {
    @content;
  }
}

@mixin big-mobile {
  @media screen and (max-width: #{$big-mobile-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin smallest-mobile {
  @media screen and (max-width: #{$smallest-mobile-width}) {
    @content;
  }
}
